h1 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
}

h3 {
  font-family: Helvectia, sans-serif;
}

h4 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
}

h5 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
  margin-top: 12px;
}

p {
  font-family: helvectia, sans-serif;
}

li {
  font-family: Helvectia, sans-serif;
}

header {
  background-color: rgb(190, 190, 190)E;
}

body {
  background-color: rgb(190, 190, 190);
}

footer {
  font-family: Helvectia, sans-serif;
  background-color: rgb(190, 190, 190);
}

.tabs {
  overflow: hidden;
  //border: 1px solid #ccc;
  background-color: rgb(190, 190, 190) ;
}

img {
  border: 4px solid burlywood;
}


//Version 0.3.1 Beta
//Last Updated: 3/10/21
