//Version 0.2.1 Alpha
//Last Updated: 3/8/21
h1 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
}

h3 {
  font-family: Helvectia, sans-serif;
}

h4 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
}

h5 {
  font-family: Helvectia, sans-serif;

  margin-bottom: -12px;
  margin-top: 12px;
}

p {
  font-family: helvectia, sans-serif;
}

li {
  font-family: Helvectia, sans-serif;
}